MONGO_URI=mongodb://localhost:27017/backend_incubo
PUBLIC_MERCADOPAGO=tu_public_key_mercadopago
MP_ACCESS_TOKEN=tu_access_token_mercadopago
MP_WEBHOOK_SECRET=tu_clave_secreta_webhook_mercadopago
JWT_SECRET=CAMBIAR_POR_STRING_RANDOM_SEGURO_64_CHARS
WEB_URL=http://localhost:4321
API_URL=http://localhost:3100
ADMIN_URL=http://localhost:5173
ADMIN_EMAIL=admin@incubo.com
ADMIN_PASSWORD=CAMBIAR_POR_PASSWORD_SEGURO
ADMIN_NOMBRE=Administrador
